In [85]:
'''
Given two numbers, check if they are equals (use try except)
'''
try: 
    number1 = 20 
    number2 = 30
    if number1 is not number2: 
        print("They are not equals") 
    else: 
        print("They are equals ")
except:
    print("Something happened :/ ")
    raise

They are not equals

In [86]:
'''
find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included)
'''
a = 1500
while a <= 2700:
    if a % 5 == 0 and a % 7 == 0:
        print("%d In multitple of 5 and divisible by 7" %a)
    a += 1

1505 In multitple of 5 and divisible by 7
1540 In multitple of 5 and divisible by 7
1575 In multitple of 5 and divisible by 7
1610 In multitple of 5 and divisible by 7
1645 In multitple of 5 and divisible by 7
1680 In multitple of 5 and divisible by 7
1715 In multitple of 5 and divisible by 7
1750 In multitple of 5 and divisible by 7
1785 In multitple of 5 and divisible by 7
1820 In multitple of 5 and divisible by 7
1855 In multitple of 5 and divisible by 7
1890 In multitple of 5 and divisible by 7
1925 In multitple of 5 and divisible by 7
1960 In multitple of 5 and divisible by 7
1995 In multitple of 5 and divisible by 7
2030 In multitple of 5 and divisible by 7
2065 In multitple of 5 and divisible by 7
2100 In multitple of 5 and divisible by 7
2135 In multitple of 5 and divisible by 7
2170 In multitple of 5 and divisible by 7
2205 In multitple of 5 and divisible by 7
2240 In multitple of 5 and divisible by 7
2275 In multitple of 5 and divisible by 7
2310 In multitple of 5 and divisible by 7
2345 In multitple of 5 and divisible by 7
2380 In multitple of 5 and divisible by 7
2415 In multitple of 5 and divisible by 7
2450 In multitple of 5 and divisible by 7
2485 In multitple of 5 and divisible by 7
2520 In multitple of 5 and divisible by 7
2555 In multitple of 5 and divisible by 7
2590 In multitple of 5 and divisible by 7
2625 In multitple of 5 and divisible by 7
2660 In multitple of 5 and divisible by 7
2695 In multitple of 5 and divisible by 7

In [87]:
'''
sum of three given integers. 
However, if two  arvaluese equal sum will be zero
'''
my_nb1 = 10
my_nb2 = 10
my_nb3 = 15

def my_sum(n1, n2, n3):
    if n1 == n2 or n1 == n3 or n2 == n3:
        return 0
    else:
        result = n1 + n2 + n3
    return result


print(my_sum(my_nb1, my_nb2, my_nb3))

0

In [88]:
'''
add two objects if both objects are an integer type
'''

my_obj1 = 13
my_obj2 = '12'

try:
    print(my_obj1 + my_obj2)
except:
    print("Both objets are not integer type")

Both objets are not integer type

In [89]:
'''
convert seconds to day, hour, minutes and seconds
'''

my_secs = 16582

In [90]:
'''
construct the following pattern, using a nested for loop.
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
'''

'\nconstruct the following pattern, using a nested for loop.\n* \n* * \n* * * \n* * * * \n* * * * * \n* * * * \n* * * \n* * \n*\n'

In [91]:
'''
return the largest of three numbers. 
Do this without using the Python max() function
'''

my_nb1 = 13
my_nb2 = 133
my_nb3 = 1


def my_max(n1, n2, n3):
    max_number = 0
    nb_list = list((n1, n2, n3))
    for n in nb_list:
        if n > max_number:
            max_number = n
    return max_number


print(my_max(my_nb1, my_nb2, my_nb3))

133

In [92]:
'''
find how many 0s a number has
'''

my_nb = 13001200

def count_zero(number):
    numero_string= str(number)
    k = 0
    for n in range(len(numero_string)):
        if numero_string[n] == "0":
            k += 1
    return k

print(count_zero(my_nb))

4

In [ ]:
'''
accept a word from the user and reverse it. 
use input
'''

def my_reverser(word):
    new_word = []
    for letter in word[::-1]:
        new_word.append(letter)
    reversed_string = "".join(new_word)
    print(reversed_string)

my_reverser(input("Tell me something, i need to know... (one word): "))

In [ ]:
'''
check whether the key "nom" already exists in a dictionary.
'''

my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

try:
    if my_dict['nom']:
        print("yes it does and its %s" % my_dict['nom'])
except:
    print("No , it doesn't ")

In [ ]:
'''
return value of "nom" 

'''
my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

print("The value is %s" % my_dict['nom'])

In [ ]:
'''
make a statement that returns the value of the key "nom" if it exists, otherwise None
'''

my_dict = {'age': 25, 'taille': 180}
try:
    a = my_dict['nom']
    if a:
        print(a)
except:
    print('none')

In [ ]:
'''
change "nom" to your name in my_dict
'''
my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

my_dict['your name'] = my_dict.pop('nom')

print(my_dict)

In [ ]:
'''
print a dictionary that contains a number (between 1 and n) in the form (x, x*x)
n = 5
output {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
'''

n = 15

def new_dict(n):
    book = {}
    for index in range(1, n):
        book[index] = index * index
    return book

print(new_dict(n))

In [ ]:
'''
merge two Python dictionaries
'''

my_dict1 = {'age': 24, 'taille': 180}
my_dict2 = {'nom': 'lahoe', 'prenom': 'alexi'}

In [ ]:
'''
sum all the items in a dictionary
'''

my_dict = {'key1': 1, 'key2': 2, 'key3': 3}

In [ ]:
'''
remove a key "nom" a dictionary
'''

my_dict = {'age': 25, 'taille': 180, 'nom': 'alexi'}

In [ ]:
'''
map two lists into a dictionary.
'''

list1 = ['nom', 'prenom', 'age']
list2 = ['alexi', 'lahoe', 24]